@import 'vars';

.modal {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;

    .btn-container {
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
        background: none;
        border: 2px solid rgba(0, 0, 0, 0.5);
        cursor: pointer;
        padding: 2px 5px;

        &:hover {
          border: 2px solid transparent;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
