@import 'playfield';
@import 'form';
@import 'edit-car';
@import 'edit-tile';
@import 'edit-object';
@import 'nav';
@import 'modal-save-playfield';
@import 'driver-popover';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  display: flex;
  // background-color: #ddd;
}
